.first-class {
    background-color: purple;
}

.economic-class {
    background-color: yellow;
}

#seats {
    border: 1px solid black;
    display: inline-block;
    height: 100px;
    width: 200px;
}